{{ define "main" }}

<body>
  <div class="content">
    <h1 class="site-title"><a href="/">{{ .Site.Title }}</a></h1>
    {{ .Content }}
    {{ range .Pages.ByTitle }}
    <div class="listpost">
      <h1><a href="{{.RelPermalink}}">{{.Title}}</a></h1>
      {{ .Content }}
    </div>
    {{ end }}
  </div>
</body>
{{ end }}
